[server]
hosts = {{ radicale_listen }}
daemon = False
max_content_length = 1000000000
timeout = 10
ssl = False

[encoding]
request = utf-8
stock = utf-8

[auth]
type = None

[rights]
type = None

[logging]
debug = false

[storage]
type = filesystem
filesystem_folder = {{ radicale_filesystem_folder }}

